header {
  height: 120px;
}

.copyright {
  height: 50px;
}

.darkblue-bg {
  background-color: #2c3e50;
}

.green-bg {
  background-color: #1abc9c;
}

.red-bg {
  background-color: #ba4b63;
}

.aquamarine-bg {
  background-color: #1ea4b6;
}

.black-bg {
  background-color: #140f0f;
}

.blue-bg {
  background-color: #1d83c2;
}

.trueblue-bg {
  background-color: #1c38b5;
}

.beige-bg {
  background-color: #ccb2a3;
}

.white-bg {
  background-color: #ffffff;
}

.white-bg {
  background-color: #ffffff;
}

.bluenavy-bg {
  background-color: #3a546d;
}

.fa-bars {
  font-size: 50px;
}

.fa-download {
  font-size: 40px;
}

div[class^="col"] {
  border: solid red 2px;
}

.images {
  height: 300px;
}

.work {
  height: 100%;
}
