header {
  height: 120px;
}

.about-me {
  height: 350px;
}

.darkblue-bg {
  background-color: #2c3e50;
}

.green-bg {
  background-color: #1abc9c;
}

.fa-bars {
  font-size: 50px;
}

div[class^="col"] {
  border: solid red 2px;
}
